# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: SoundSight

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        pip install -r requirements.txt; fi
            - uses: actions/checkout@v3
    - uses: FedericoCarboni/setup-ffmpeg@v3
      id: setup-ffmpeg
      with:
        # A specific version to download, may also be "release" or a specific version
        # like "6.1.0". At the moment semver specifiers (i.e. >=6.1.0) are supported
        # only on Windows, on other platforms they are allowed but version is matched
        # exactly regardless.
        ffmpeg-version: release
        # Target architecture of the ffmpeg executable to install. Defaults to the
        # system architecture. Only x64 and arm64 are supported (arm64 only on Linux).
        architecture: ''
        # Linking type of the binaries. Use "shared" to download shared binaries and 
        # "static" for statically linked ones. Shared builds are currently only available
        # for windows releases. Defaults to "static"
        linking-type: static
        # As of version 3 of this action, builds are no longer downloaded from GitHub
        # except on Windows: https://github.com/GyanD/codexffmpeg/releases.
        github-token: ${{ github.server_url == 'https://github.com' && github.token || '' }}
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest
